@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');



body{
/* background-color: blueviolet; */

/* background:url(..//HTML/image/ntr.jpg);
background-repeat:no-repeat ;
background-size:cover ;
background-position:center ; */

/* background: linear-gradient(70deg,red,skyblue,purple);
height: 100vh;
width: 100vh; */

background: radial-gradient(red,purple,skyblue);
height: 100vh;
width: 100vh;




}


h1{
    color: rgb(8, 178, 230);
font-size: 40px;
font-style: italic;
font-family: 'Caveat', cursive;
font-weight: bolder;
text-align: center;
background-color: yellow;
/* text-decoration-line:underline ;
text-decoration-color: violet ;
text-decoration-thickness:2px ;
text-decoration-style:double ; */
text-decoration: double underline red 2px ;
text-shadow:-10px -10px 4px rgb(194, 39, 142) ;
}
p{
    color: yellow;
    /* background-color: aqua; */
    text-indent: 100px;
    letter-spacing: 1px;
word-spacing: 0px;

}
span{
    color: yellow;
    /* background-color: yellowgreen; */
    
    text-decoration-line:overline

}

